html, body {
    font-size: 10px;
    font-family: 'museo700',sans-serif;
}

h1 {
    font-size: 4.8rem;
}
h4 {
    font-size: 1.75rem;
}
#container-wrapper {
    padding: 0;
}
/*
section {
    margin-top: 15px;
    margin-bottom: 15px;
}
*/
section h3 {
    font-family: 'museo700',sans-serif;
    font-size: 1.75rem;
}

section:first-child {
    margin-top: 0;
}
/*
section header
*/
section#header {
    background: url(../images/hero-unit.jpg) no-repeat;
    background-size: 100%;
    color: white;
}

section#header .navbar-default .navbar-nav>li>a {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
}

section#header .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: rgba(255,255,255,0.7);
}

section#header .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: rgba(0,0,0,0.7);    
}

section#header .navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 30px 0 15px 0;
}

section#header .navbar-default .navbar-brand {
    min-width: 12.7rem;
    min-height: 4.8rem;
    background: url(../images/brand.png) no-repeat;
}

section#header h1 {
    margin: 5rem 0 2rem 0;
}

section#header h4 {
    color: #cccccc;
    margin-bottom: 45px;
}

section#header a {
    font-size: 1.6rem;
    /*font-weight: bold;    */
    color: white;
    text-decoration: none;
}

section#header div > a {
    margin-left: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

section#header .btn-primary {
    background: red;
    border-color: red;
}

section#header img {
    margin-top: 30px;
}
/*
section processes
*/
section#processes {
    background: #eeeeee;
    padding-bottom: 15px;
    font-size: 1.4rem;
    font-family: Helvetica,Arial,Sans-serif;
}

section#processes p {
    color:#7d7d7d;
}

section#processes div#processes-wrapper{
    position:relative;
}
section#processes div#processes-divider {
    border-bottom: 5px solid #dadada;
    position: relative;
    top:100px;
}

section#processes span.process-sprite {
    display: block;
    width: 100px;
    height: 100px;
    background: url(../images/process-sprite.png) no-repeat;
    margin: 50px auto 15px;
}
section#processes span.design {
    background-position: -100px 0;
}
section#processes span.develop {
    background-position: -200px 0;
}
section#processes span.launch {
    background-position: -300px 0;
}
section#processes .btn-default {
    background: #9a9c9f;
    border-color: #9a9c9f;
    font-size: 1.2rem;
    color: white;
    margin: 15px 0 15px 0;
}

/*
section portfolio
*/
section#portfolio p {
    font-size: 1.4rem;
    font-family: Helvetica,Arial,Sans-serif;
    color: rgb(153,153,153);
}
section#portfolio img {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px;
}
section#portfolio div#portfolio-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
}
section#portfolio h6 {
    font-size: 1.4rem;
}
/*
section customers
*/

section#customers {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
}
/*
section news
*/

section#news {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
}

section#news article {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    margin-bottom:15px;
}

section#news article:last-child {
    border-bottom: none;
}

section#news a#article-title {
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

section#news a#article-title:hover, section#news a#article-title:active {
    text-decoration: none;
    border-bottom: 1px solid #eeeeee;
}

section#news #latest-posts, section#news #latest-tweets {
    margin-bottom: 15px;
}
section#news blockquote {
    border-left: none;
    margin-left: 60px;
    padding-top: 0;
}
section#news blockquote p {
    font-size: 1.4rem;
    font-style: italic;
    font-family: Georgia,Serif;
    color: #7d7d7d;
}

section#news p {
    font-size: 1.2rem;
    font-family: Helvetica,Arial,Sans-serif;
    color: rgb(153,153,153);
}

section#news article.tweet p {
    margin-left: 75px;
    margin-bottom: 0;
}
/*
section footer
*/
section#footer #footer-navigation {
    list-style: none;
    padding-left: 0;
}

section#footer ul#footer-navigation li{
    display: inline;
    padding: 0 15px 0 15px;
}

section#footer button span {
    min-width: 16px;
    max-height: 16px;
    display: inline-block;
    background: url(../images/social-sprite.png) no-repeat;
    margin-right: 7.5px;
}

section#footer button#facebook span {
    background-position: -16px 0px;
}