section {
    margin-top: 15px;
    margin-bottom: 15px;
}
section:first-child {
    margin-top: 0;
}
section#header {
    background: url(../images/hero-unit.jpg) no-repeat;
    background-size: 100%;
}
section#processes {
    background: #eeeeee;
    padding-bottom: 15px;
}
#portfolio img {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px;
}